<div>
  <div class="part">
    <div class="header mb-3">Employees
      <i class="bi bi-arrow-clockwise header-right header-large"></i>
      <i class="bi bi-pencil-fill header-right "></i>
      <i class="bi bi-plus-lg header-right header-large"></i>
    </div>
    <div class="inline">
      <div class="part">
        <div class="mt-3">
          <div>
            <div class="table-header">
              <table class="table table-header  table-bordered p-0 ">
                <thead>
                  <tr>
                    <th style="color: rgba(0, 0, 0, 0.25); width: 131px;" scope="col">First Name</th>
                    <th style="color: rgba(0, 0, 0, 0.25); width: 150px;" scope="col">Last Name</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div>
            <table class="table table-bordered scroll-table">

              <tbody>
                <tr *ngFor="let employee of employees">
                  <td class="data-column">{{employee.firstName}}</td>
                  <td class="data-column">{{employee.lastName}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
