.header{
       
    font-style:inherit;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:100;
    font-size: 20px;
    display: flex;

}
.header-right{
    float: right;
    margin: 0;
    margin-right: 15px;
}
.header-large{
    font-size: 25px;
}
.header-block{
    display: flex;
}

.header-alpha{
    color: rgba(0, 0, 0, 0.5);
    font-style: inherit;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    margin-left: 5%;
    font-size: 17px;

}